
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="{% static 'img/loader/loader.svg' %}" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!-- begin app-header -->
            <header class="app-header top-bar">
                <!-- begin navbar -->
                <nav class="navbar navbar-expand-md">

                    <!-- begin navbar-header -->
                    <div class="navbar-header d-flex align-items-center">
                        <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
                        <a class="navbar-brand" href="index.html">
                            <img src="{% static 'img/logo.png' %}" class="img-fluid logo-desktop" alt="logo">
                            <img src="{% static 'img/logo-icon.png' %}" class="img-fluid logo-mobile" alt="logo">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti ti-align-left"></i>
                    </button>
                    <!-- end navbar-header -->
                    <!-- begin navigation -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navigation d-flex">
                            <ul class="navbar-nav nav-left">
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link sidebar-toggle">
                                        <i class="ti ti-align-right"></i>
                                    </a>
                                </li>

                                <li class="nav-item full-screen d-none d-lg-block" id="btnFullscreen">
                                    <a href="javascript:void(0)" class="nav-link expand">
                                        <i class="icon-size-fullscreen"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav nav-right ml-auto">

                                <li class="nav-item dropdown user-profile">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle " id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="avtar-img">
                                        <span class="bg-success user-status"></span>
                                    </a>
                                    <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
                                        <div class="bg-gradient px-4 py-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="mr-1">
                                                    <h4 class="text-white mb-0">User Name</h4>
                                                    <small class="text-white">Email</small>
                                                </div>
                                                <a href="#" class="text-white font-20 tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout"> <i class="zmdi zmdi-power"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end navigation -->
                </nav>
                <!-- end navbar -->
            </header>
            <!-- end app-header -->
            <!-- begin app-container -->
            <div class="app-container">
                <!-- begin app-nabar -->
                <aside class="app-navbar">
                    <!-- begin sidebar-nav -->
                    <div class="sidebar-nav scrollbar scroll_light">
                        <ul class="metismenu " id="sidebarNav">
                            <li class="nav-static-title">Personal</li>
                            <li class="active">
                                <a class="has-arrow" href="{% url 'dashboard' %}" aria-expanded="false">
                                    <i class="nav-icon ti ti-rocket"></i>
                                    <span class="nav-title">Dashboard</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- end sidebar-nav -->
                </aside>
                <!-- end app-navbar -->
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Input Fields</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    Dashboard
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">Analyse</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->


                                <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Input Mask</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">


                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Stock Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="stock_name" class="form-control inputmask">
                                                    <span class="font-14 text-muted">e.g "SBI"</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Industry</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="industry" class="form-control inputmask">
                                                    <span class="font-14 text-muted">Banking</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Current Market Price</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="cmp" class="form-control inputmask">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Current Date</label>
                                                <div class="col-sm-10">
                                                    <input type="date" placeholder="" name="date" class="form-control inputmask">
                                                    <span class="font-14 text-muted">29/06/2021</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">EPS</label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps1" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps2" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps3" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps4" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps5" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps6" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps7" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps8" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="eps9" class="form-control inputmask">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Current PE</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="cpe" class="form-control inputmask">
                                                    <span class="font-14 text-muted"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Industry PE</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="ipe" class="form-control inputmask">
                                                    <span class="font-14 text-muted"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">PE</label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe1" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe2" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe3" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe4" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe5" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe6" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe7" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe8" class="form-control inputmask">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="" name="pe9" class="form-control inputmask">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Book Value</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="bv" class="form-control inputmask">

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">D/E Ratio</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="der" class="form-control inputmask">

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Free Cash Flow</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="fcf" class="form-control inputmask">

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Annual Sales</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="sales" class="form-control inputmask">

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Market Cap</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="" name="market_cap" class="form-control inputmask">

                                                </div>
                                            </div>
                                            <div class="container-login100-form-btn m-t-32">
                                                <button class="login100-form-btn" type="submit">
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>

                        </div>
                            </div>

                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>

            <!-- end app-container -->
            <!-- begin footer -->
            <footer class="footer">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-left">
                        <p>&copy; Copyright 2019. All rights reserved.</p>
                    </div>
                    <div class="col  col-sm-6 ml-sm-auto text-center text-sm-right">
                        <p>Hand-crafted made with <i class="fa fa-heart text-danger mx-1"></i> by DPT Designs</p>
                    </div>
                </div>
            </footer>
            <!-- end footer -->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->



{% endblock content %}